body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.page-width {
    padding: 80px 80px;
}

.explore_card{

    /* background:-webkit-linear-gradient(top,rgba(255,255,255,0.1),transparent);
    box-shadow: inset 5px 5px 20px rgba(255,255,255,0.1); */
    -webkit-animation: shimmy 3s ease-in-out infinite;
    overflow: hidden;
  }

  #light {
    position: relative;
    top: 150px;
    width: 100%;
}

.grey_line1{
    height: 100vh;
    left: 10%;
    position: absolute;
    width: 2px;
    background: #101010;
    display: block;
    z-index: 9;
}

.grey_line2{
    height: 100vh;
    left: 25%;
    position: absolute;
    width: 2px;
    background: #101010;
    display: block;
    z-index: 9;
}

.grey_line3{
    height: 100vh;
    left: 40%;
    position: absolute;
    width: 2px;
    background: #101010;
    display: block;
    z-index: 9;
}

.grey_line4{
    height: 100vh;
    left: 75%;
    position: absolute;
    width: 2px;
    background: #101010;
    display: block;
    z-index: 9;
}

.grey_line5{
    height: 100vh;
    left: 90%;
    position: absolute;
    width: 2px;
    background: #101010;
    display: block;
    z-index: 9;
}

.grey_line6{
    height: 100vh;
    left: 59%;
    position: absolute;
    width: 2px;
    background: #101010;
    display: block;
    z-index: 9;
}

#lineh1 {
    position: fixed; /* Use fixed positioning to keep the line moving down the whole page */
    top: 0; /* Start at the top of the page */
    left: 10%;
    width: 2px; /* Width of the line */
    height: 10vh; /* Define the height of the line as the full height of the viewport */
    background: #F26231; /* Set the line color */
    animation: lineH 3s 1s infinite linear; /* Animation duration, delay, and type */
    z-index: 9;
}

#lineh2 {
    position: fixed; /* Use fixed positioning to keep the line moving down the whole page */
    top: 0; /* Start at the top of the page */
    left: 25%;
    width: 2px; /* Width of the line */
    height: 10vh; /* Define the height of the line as the full height of the viewport */
    background: #F26231; /* Set the line color */
    animation: lineH 2s 2s infinite linear; /* Animation duration, delay, and type */
    z-index: 9;
}

#lineh3 {
    position: fixed; /* Use fixed positioning to keep the line moving down the whole page */
    top: 0; /* Start at the top of the page */
    left: 40%;
    width: 2px; /* Width of the line */
    height: 10vh; /* Define the height of the line as the full height of the viewport */
    background: #F26231; /* Set the line color */
    animation: lineH 3s 3s infinite linear; /* Animation duration, delay, and type */
    z-index: 9;
}

#lineh4 {
    position: fixed; /* Use fixed positioning to keep the line moving down the whole page */
    top: 0; /* Start at the top of the page */
    left: 75%;
    width: 2px; /* Width of the line */
    height: 10vh; /* Define the height of the line as the full height of the viewport */
    background: #F26231; /* Set the line color */
    animation: lineH 2s 1s infinite linear; /* Animation duration, delay, and type */
    z-index: 9;
}

#lineh5 {
    position: fixed; /* Use fixed positioning to keep the line moving down the whole page */
    top: 0; /* Start at the top of the page */
    left: 90%;
    width: 2px; /* Width of the line */
    height: 10vh; /* Define the height of the line as the full height of the viewport */
    background: #F26231; /* Set the line color */
    animation: lineH 3s 1s infinite linear; /* Animation duration, delay, and type */
    z-index: 9;
}

#lineh6 {
    position: fixed; /* Use fixed positioning to keep the line moving down the whole page */
    top: 0; /* Start at the top of the page */
    left: 59%;
    width: 2px; /* Width of the line */
    height: 10vh; /* Define the height of the line as the full height of the viewport */
    background: #F26231; /* Set the line color */
    animation: lineH 3s 2s infinite linear; /* Animation duration, delay, and type */
    z-index: 9;
}

.hear_txt{
    font-size: 2.485vw;
}

@keyframes lineH {
    0% {
        top: 0; /* Start the line at the top of the page */
       /* Full opacity at the start */
    }
    100% {
        top: calc(100vh - 10px); /* Move the line down to the bottom of the page, adjust for line height */
        /* Fade out the line at the end */
    }
}




@-webkit-keyframes shimmy {

    0%,
    100% {
        transform: rotateY(0deg) skewX(0deg);
    }

    50% {
        transform: rotateY(36deg) skewX(9deg);
    }
}

.shine {
    width: 835px;
    height: 68px;
    margin-left: -133px;
    transform: rotate(30deg);
    background: -webkit-linear-gradient(top, transparent, rgba(200, 200, 200, 0.1), transparent);
    position: absolute;
    -webkit-animation: shine 3s ease-in-out infinite;
}

@-webkit-keyframes shine {

    0%, 100% {
        margin-top: -300px;
    }

    50% {
        margin-top: 500px;
    }
}


/* head-css */

.digimenu {
    display: flex;
    justify-content: space-between;
    padding: 26px 0px;
}

.digioptions {
    display: flex;
    gap: 13px;
}

/* foot-css */

.footer {
    background: #10182F;
    background: #000;
}

.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 60px;
}

.footer-row .footer-col h4 {
    padding: 0 40px;
    font-size: 1.333vw;
    font-weight: 400;
    color: #F26231;
    margin-bottom: 0;

}

.footer_col_frsthdng {
    padding: 0 !important;
}

.footer-col .links {
    margin-top: 20px;
}

.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
    font-size: 0.97vw;
}

.year p{
    font-size: 10px;
    margin: 0;
    color:#bfbfbf;
    text-align: center;
}

.footer-col .links li a:hover {
    color: #fff;
}

.footer-col p {
    margin: 20px 0 30px 0;
    color: #bfbfbf;
    font-size: 0.97vw;
    max-width: 300px;
}

.footer-col form {
    display: flex;
    gap: 5px;
}

.footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
}

.footer-col input::placeholder {
    color: #ccc;
}

.footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.footer-col form button:hover {
    background: #cecccc;
}

.footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
}

.footer-col .icons i {
    color: #afb6c7;
}

.footer-col .icons i:hover {
    color: #fff;
}

/* banner */

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swipe_btn {
    display: flex;
    align-items: center;
}

.bgcollght {
    background-color: #3D68B2;
}

.bgcolorng {
    margin-left: 39px;
    background-color: #F26231;
}

.bannre_txt-btn {
    box-shadow: inset 0px 3px 3px #707070, 0px 3px 6px #707070;
    height: auto;
    width: auto;
    padding: 13px 19px;
    font-weight: 600;
    color: #fff;
    border: white solid 3px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px
}

.slide_style {
    display: flex;
}

.swipe_left_head,
.swipe_right_head {
    width: 50%;
}

.head_pd p {
    color: #3d4e81;
    font-size: 75px;
}

.head_pd span {
    color: #F26231;
    font-size: 75px;
    font-weight: 600;
}

.head_pd {
    text-align: left;
}

/* .swipe_style {
    padding: 3.421vw 4.211vw;
} */

.swipe_left_head {
    padding: 80px 0px 80px 36px;
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.head_pd p {
    margin: 0
}

.pd_para {
    font-size: 16px;
    color: #4b4b4b;
    font-size: 20px;
    color: #4b4b4b;
    margin: 35px 0;
    line-height: 29px;
    word-spacing: 3px;
}

.pd_bold {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* flip card */

.front_card {
    background-color: transparent;
    width: 18.105vw;
    height: 17.053vw;
    /* perspective: 1000px; */
    border: 3px solid #3d4e81;
    border-radius: 6px;
}

.flip-card-inner {
    position: relative;
    width: auto;
    height: auto;
    text-align: left;
    padding: 0 13px;
    /* transition: transform 0.6s;
    transform-style: preserve-3d; */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

/* .front_card:hover .flip-card-inner {
    transform: rotateY(180deg);
} */
/* 
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
} */

.flip-card-front {
    /* background-color: #bbb; */
    color: black;
}

.flip-card-front p {
    color: #F26231;
    font-size: 1.455vw;
}

.flip-card-back {
    /* background-color: #2980b9; */
    color: white;
    /* transform: rotateY(180deg); */
    justify-content: center;
    display: flex;
    padding-top:23px;
    align-items: center;
}

.flip-card-back {
    font-size: 1.212vw;
}

.card_box {
    display: flex;
    gap: 56px;
    /* justify-content: center;
    gap: 2.158vw; */
    margin: 4.379vw 0;
}

.secard_head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.842vw;
}

.secard_head h2,
.secard_head h3 {
    color: #fff;
    margin: 0;
}

.secard_head h3 {
    font-size: 1.212vw;
    font-weight: 300;
}

.secard_head h2 {
    font-size: 2.485vw;
    font-weight: 400;
}

.crdsec_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    /* padding: 3.421vw 4.211vw; */
}

.btnstyle {
    box-shadow: inset 0px 1px 3px #707070;
    height: auto;
    text-align: center;
    width: auto;
    padding: 13px 19px;
    color: #fff;
    background-color: #F26231;
    border: white solid 3px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.909vw;
}

/* digimentor */

.digimentor_card {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    column-gap: 3.316vw;
    row-gap: 4.6vw;
    margin: 4.3vw 0px;
}

.digimentor_head {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.842vw;
}

.digimentor_head h2,
.digimentor_head h3 {
    margin: 0;

}

.digimentor_head h2 {
    font-size: 2.485vw;
    color: #3D68B2;
    font-weight: 400;
}

.digimentor_head h3 {
    color: #4B4B4B;
    font-size: 1.212vw;
    font-weight: 400;
}

.sec_divide {
    background: #707070;
    width: 100%;
    display: block;
    height: 2px;
}

.card_text h2 {
    margin: 0 0 1px 0;
    padding: 0px 23px 3px 23px;
    color: #F26231;
    font-size: 1.455vw;
}

.card_text p {
    padding: 0px 23px;
    color: #4B4B4B;
    font-size: 0.97vw;
    line-height: 21px;
    word-spacing: 3px;
}

.greenlogo {
    width: auto;
    transform-style: preserve-3d;
    animation: flipCard 3s infinite linear;
}

@keyframes flipCard {
    0% {
        transform: rotateY(0deg); /* Start with no rotation */
    }
    50% {
        transform: rotateY(180deg); /* Flip the card halfway */
    }
    100% {
        transform:rotateY(360deg); /* Complete one full flip */
    }
}


.googleiconlogo{
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.greenicon {
    display: flex;
    align-items: center;
}

/* .whydigimentor {
    padding: 3.421vw 4.211vw;
} */

.medaltxt,
.googleicontxt {
    color: #fff;
    margin-left: 13px;
}

.medaltxt p,
.medaltxt h3 {
    margin: 0;
}

.medaltxt h3,
.googleicontxt h3 {
    font-size: 20px;
}

.googleicontxt h3,
.googleicontxt p {
    margin-top: 9px;
    margin: 0;
}

.googleicontxt p {
    font-size: 30px;
    color: #cfcb13;
    margin-top: 9px;
    font-weight: 600
}

.prcnt_card_star .icontxt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 133px;
}

.medaltxt p {
    font-size: 30px;
    color: #80cf80;
    margin-top: 9px;
    font-weight: 600;
}

.prcnt_card_star {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prcnt_card_star span {
    background: #707070;
    width: 83%;
    height: 1px;
    margin: 63px;
}


.googleicon {
    display: flex;
    align-items: center;
}

.txtbtndc {
    box-shadow: inset 0px 3px 3px #707070, 0px 3px 6px #707070;
    height: auto;
    width: auto;
    padding: 13px 19px;
    color: #fff;
    background-color: #3D68B2;
    border: white solid 3px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.909vw;
    gap: 13px;
}

.btnstyle,
.txtbtndc,
.confused_lnk,
.bannre_txt-btn,
.videotxt_btn {
    gap: 13px;
}

.card_why-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* explore programe */

.percent_head p {
    margin: 0;
    color: #000;
}

.prcnt_card {
    box-shadow: 6px 6px 1px #3d68b2;
    border-radius: 3px;
    padding: 29px 29px;
    background-color: #fff;
}

.explore_program {
    background-color: #000;
    /* padding: 3.421vw 4.211vw; */
}

.exlore_card_box {
    display: flex;
    justify-content: center;
    gap: 2.158vw;
    padding: 0 0 2.579vw 0;
}

.percent_heading {
    font-size: 1.455vw;
    color: #3d68b2;
    font-weight: 600;
}

.crd_prcnt_para p {
    font-size: 0.97vw;
}

.percent_head p {
    color: #F26231;
    font-weight: bold;
    font-size: 4.121vw;
}

.crd_prcnt_para {
    line-height: 19px;
}

.subtxt_prcnt {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.explore_card {
    color: #fff;
    background: #3d68b2;
    gap: 19px;
    display: flex;
    padding: 1.152vw;
    border-radius: 9px;
    position: relative;
}

.explore_card span {
    margin-top: 13.939vw;
    font-size: 1.212vw;
}

.explore_card h2 {
    text-align: left;
    font-size: 2.485vw;
    margin: 0;
}

.crd_img {
    margin-bottom: 13px;
    width: 103px;
    height: auto;
}

/* .crd_img img{
    width:100%;
    height: auto;
} */
.program_subsection-head {
    color: #fff;
    font-size: 2.485vw;
    font-weight: 400;
    text-align: center;
    margin: 2.97vw;
}

.program_subsection {
    text-align: center;
}

.program_card {
    display: flex;
    justify-content: center;
    gap: 60px;
}

/* corporate */

.confused {
    display: flex;
    background: #F26231;
    align-items: center;
    justify-content: center;
    gap: 116px;
}

.hdng_span {
    display: flex;
    color: #fff;
    padding: 3.636vw 0px;
    align-items: center;
}

.hdng_span span {
    background: #fff;
    height: 39px;
    width: 3px;
    margin: 0 23px;
}

.hdng_span h2,
.hdng_span p {
    margin: 0;
}

.hdng_span h2
{
    font-size: 41px;
}
.hdng_span p{
    font-size: 30px;
}

.confused_lnk {
    box-shadow: inset 0px 3px 3px #707070, 0px 3px 6px #707070;
    height: auto;
    width: auto;
    padding: 13px 19px;
    color: #fff;
    background-color: #3D68B2;
    border: white solid 3px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.909vw;
    text-decoration: none;
}

.temp-col {
    grid-template-columns: repeat(7, 1fr) !important;
}

.logo {
    text-align: center;
    /* padding: 3.421vw 4.211vw; */
    padding: 80px 0;
}

.logo_box {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    place-items: center;
    margin: 23px 0px;
}

.hdng_span h2 {
    font-size: 2.1vw;
    font-weight: 400;
}

.logo h2 {
    font-size: 2.485vw;
    font-weight: 400;
    color: #3d68b2;
    padding-bottom: 53px;
    margin: 0;
}

.scnd_sld_mrgn {
    margin: 43px 0;
}



.greenlogo img,
.googleicon img {
    width: 100%;
    height: auto;
}


/* hear it */

.videotxt{
    background: #101010;
}

.opensrc{
    width: 270px;
    /* height: 663px;  */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.opensrc video{
    width: 100%;
    height: auto;
}

.videotxt .sec-style{
    display: flex;
    justify-content: center;
    gap: 26px;
    height: auto;
    margin: 4.3vw 0;
    margin-bottom: 6.3vw;
}

.videotxt_btn{
    box-shadow: inset 0px 1px 3px #707070;
    height: auto;
    text-align: center;
    place-self: center;
    width: max-content;
    padding: 13px 19px;
    color: #fff;
    background-color: #F26231;
    border: white solid 3px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.909vw;
}

.videotxt{
    display: flex;
    flex-direction: column;
}

.videotxt a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.hearpara p{
    background-color: #fff;
    /* height: 500px; */
    border-radius: 16px;
}

.hearpara{
    /* height:90%; */
    background-color: #fff;
    border-radius: 16px;
    padding: 23px;
    display: flex;
    line-height: 39px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.hearpara p,.student span{
    font-size: 1.455vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.student{
    background: #3D68B2;
    margin: 0 18px;
    border-radius: 16px;
    padding: 23px;
    /* height: 10%; */
    color: #fff;
}

@media(max-width:768px) {

    .page-width {
        padding: 33px;
    }

    .bannre_txt-btn {
        display: none;
    }

    .confused {
        gap: 19px;
        flex-direction: column;
        padding: 30px 0px;
    }

    .card_box {
        flex-direction: column;
        align-items: center;
        gap: 23px;
        margin: 33px 0px;
    }

    .front_card {
        width: 100%;
    }

    .flip-card-front p {
        font-size: 19px;
    }

    .hdng_span p {
        font-size: 13px;
    }

    .confused_lnk {
        font-size: 13px
    }

    .hdng_span span {
        margin: 0 9px;
        height: 23px;
        width: 2px;
    }

    .front_card {
        height: 213px;
    }

    .btnstyle {
        font-size: 13px;
        padding: 9px;
        width: 96px;
    }

    .hdng_span {
        padding: 0;
    }

    .hdng_span h2 {
        font-size: 19px;
    }

    .secard_head h2,
    .secard_head h3 {
        text-align: center;
    }

    .secard_head h2 {
        font-size: 23px;
    }

    .secard_head h3 {
        font-size: 13px;
    }

    .crdsec_btn {
        padding: 23px 36px;
    }

    .secard_head {
        gap: 16px;
    }

    /* digimentor card */

    .digimentor_card {
        grid-template-columns: 1fr;
        margin: 43px 1px;
        row-gap: 26px;
    }

    .card_text h2 {
        font-size: 18px;
        padding: 0px 23px 6px 23px;
    }

    .digimentor_head h3 {
        font-size: 13px;
    }

    .card_text p {
        font-size: 13px;
    }

    .digimentor_head {
        gap: 16px;
    }

    .txtbtndc {
        width: auto;
        font-size: 13px;
        padding: 9px;
    }

    .digimentor_head h2 {
        font-size: 29px;
    }

    .whydigimentor {
        /* padding: 30px; */
    }

    /* foot-style */

    .para_and_ttl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }

    .footer .footer-row {
        padding: 20px;
        gap: 1rem;
    }

    .footer-col form {
        display: block;
    }

    .footer-col form :where(input, button) {
        width: 100%;
    }

    .footer-col form button {
        margin: 10px 0 0 0;
    }

    .exlore_card_box {
        display: block;
        padding-bottom: 0;
    }

    .program_card {
        flex-wrap: wrap;
        gap: 33px;
    }

    .percent_head p {
        font-size: 39px;
    }

    .percent_heading,
    .crd_prcnt_para p {
        font-size: 13px;
    }

    .crd_prcnt_para {
        font-size: 13px;
    }

    .prcnt_card {
        padding: 13px;
        margin-bottom: 33px;
    }

    .crd_img {
        margin-bottom: 6px;
    }

    .subtxt_prcnt {
        gap: 3px;
    }

    .explore_program {
        /* padding: 30px; */
    }

    .head_pd p {
        font-size: 19px;
    }

    .head_pd span {
        font-size: 20px;
    }

    .pd_para {
        line-height: unset;
        word-spacing: unset;
        width: auto;
        font-size: 9px;
    }

    .explore_card h2 {
        font-size: 19px;
    }

    .program_subsection-head {
        font-size: 19px;
        text-align: center;
        margin: 30px;
        margin-bottom: 23px;
    }

    .explore_card span {
        font-size: 13px;
        margin-top: 183px;
    }

    .explore_card {
        gap: 89px;
        padding: 19px;
    }

    .greenlogo,
    .googleiconlogo {
        width: 63px;
    }

    .prcnt_card_star .icontxt {
        gap: 13px;
    }

    .medaltxt p,
    .googleicontxt p {
        font-size: 13px;
        margin-top: 6px;
    }

    .medaltxt h3,
    .googleicontxt h3 {
        font-size: 9px;
    }

    .prcnt_card_star span {
        margin: 33px 0;
        width: 93%;
    }

    .swipe_style {
        padding: 0 !important;
    }

    /* hear it */

    .opensrc{
        width: 100%;
        height: auto;
    }
    .videotxt .sec-style{
        flex-wrap: wrap;
    }

    .hearpara p{
        height: auto;
    }
}